@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    background-color: darkslategrey;
}
.marq {
    background-color: darkslategrey;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.marq a{
    background-color: darkslategray;
    text-decoration: none;
    color: rgb(231, 229, 219);
    
}

.navbar {
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    padding: 0px;
    margin-top: 18px;
    border: solid rgb(52, 83, 83);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.logo img {
    width: 100px;
    margin: 10px 30px;
    cursor: pointer;
     
}
.searchbox{
    font-family: "Lora", serif;
    display: flex;
    flex: 1;
    margin: 0px 20px;
}
.searchbox input{
    display: flex;
    border: none;
    padding: 6px;
    flex: 1;
    border-radius: 5px 0px 0px 5px;
}
.searchbox input::placeholder{
    font-family: "Lora", serif;
}
.searchbox button{
    padding: 5px 10px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(52, 124, 155);
    color: white;
    cursor: pointer;
    font-family: "Lora", serif;
    
}
.searchbox button:hover{
    background-color: rgb(46, 62, 57);
}
.searchbox button:active{
    background-color: rgb(20, 23, 23);
}
.nav-links{
    display: flex;
    margin-left: 10px;
    margin-right: 30px;
    font-size: larger;
}
.nav-links a{
    text-decoration: none;
    color: rgb(198, 186, 157);
    margin-left: 10px;
    margin-right: 10px;
}
.nav-links a:hover{
    text-decoration: underline;
}
.nav-icons{
    margin: 10px 30px;
}
.nav-icons a{
    margin: 10px;
    
}
.nav-icons img{
    width: 30px;
    filter: brightness(50%);
     
}
.nav-icons a:hover{
    filter:brightness(100%);
    filter: contrast(80%);
}
/*This is for Men fashion styling*/
.Main-Image{
    margin: 0 auto;
    margin-top: 145px;
    width: 100%;
    overflow: hidden;
}
.Main-Image img{
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 0.6s ease-in-out;
}
.Main-Image img:hover{
    transform: scale(1.02);
}
.Women-Img-btn{
    position: absolute;  
    bottom: 310px;  
    left: 45%;  
    transform: translateX(0%);  
    padding: 10px 15px;
    background-color: rgb(50, 95, 85);  
    color: rgb(198, 186, 157);
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lora", serif;
}
.Women-Img-btn:hover {
    background-color: rgba(11, 64, 51);  
}
.Women-Images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Gap between the cards */
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between; /* Ensures space between items */
}

.saree {
    width: calc(32.70% - 5px); /* 3 items per row with 10px gap */
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgb(199, 211, 210);
    color: rgb(45, 38, 38);
    text-align: center; /* Centers the button and image */
     
}

.saree img {
    width: 350;
    height: 450;
    transition: transform 0.6s ease-in-out;
}
#saree1:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#saree2:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#saree3:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url(https://images.meesho.com/images/products/421748977/c97ys_512.webp);
}
#saree4:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#saree5:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#saree6:hover{
    transition: transform 0.6s ease-in-out;
    transform: scale(1.02);
    content: url();
}

.saree-btn {
    padding: 10px 20px;
    background-color: rgba(11, 64, 51);
    color: rgb(198, 186, 157);
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lora", serif;
    margin-top: 10px; /* Adds space between the image and button */
}

.saree-btn:hover {
    background-color: rgb(4, 79, 76);
    transition: background-color 0.3s ease;
}
.Lehangas{
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Gap between the cards */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between; /* Ensures space between items */
}
.lehenga{
    position: relative;
    width: calc(24.70% - 12px);
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgb(199, 211, 210);
    color: rgb(45, 38, 38);
    text-align: center; /* Centers the button and image */
}
.lehenga img{
    transition: transform 0.4s ease-in-out;
}
#leheng1:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url(https://m.media-amazon.com/images/I/61nlspwwS8L._SY741_.jpg);
}
#leheng2:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#leheng3:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url(https://wholetex.sgp1.cdn.digitaloceanspaces.com/full/designer-heavy-pure-georgette-sequence-work-lehenga-choli-21.jpg);
}
#leheng4:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url(https://gomuto.com/cdn/shop/files/f70c695a-203a-4687-b13b-6bac5254ffdb.jpg?v=1718064962&width=700);
}
#leheng5:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url(https://5.imimg.com/data5/FC/ON/IT/SELLER-25396958/ladies-party-wear-silk-suit-1000x1000.jpg);
}
#leheng6:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url(https://m.media-amazon.com/images/I/71kQw-DkC1L._SX679_.jpg);
}
#leheng7:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.02);
    content: url();
}
#leheng8:hover{
    transition: transform 0.8s ease-in-out;
    transform: scale(1.02);
    content: url();
}
.para{
    font-family: "Lora", serif;
    font-size: 30px;
    color: rgb(198, 186, 157);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.fragrance{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 15px;

}
.frag{
    position: relative;
    width: calc(25% - 12px); /* Four items per row with gaps */
    margin-bottom: 10px; /* Space between rows */
    overflow: hidden;
    background-color: rgb(199, 211, 210);
    text-align: center;
    padding: 0px;
}
.frag img{
    width: 100%;
    height: auto;
    transition: transform 0.8s ease-in-out;
}
.footer{
    background-color: darkslategray;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer-links{
    margin: 20px;

}
.footer-links h4{
    margin-top: 0px;
    margin-bottom: 10px;
    color: blanchedalmond;
    letter-spacing: 4px;
}
.footer-links ul{
    list-style: none;

}
.footer-links li{
    margin-bottom: 10px;
}
.footer-links a{
    text-decoration: none;
    color: rgb(198, 186, 157);
}
.copy-right{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(198, 186, 157);;
}